<%- include('partials/header'); -%>

<div class="container">
  <h1 class="container"><%=thePost.title%> </h1>
  <p class="container"><%=thePost.post%></p>
</div>


<%- include('partials/footer'); -%>
